{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center; margin-bottom: 30px;">Tareas del curso {{curso.name}}</h1>

    <div style="display: flex; flex-direction: row;">
        <div>
            <a style="text-align: center;" href="{{url_for('index')}}">Regresar a Inicio</a>
            <br>
        </div>
        <div style="margin-left: 80px;" class="contain">
            <a href="{{url_for('cursos_tareas_create', id=curso.id)}}" class="btn btn-primary">Crear tarea</a>
        </div>
    </div>


    <div class="container">
        <table class="table">
            <thead class="thread-dark">
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de creacion</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Editar calificaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td>{{tarea.titulo}}</td>
                    <td>{{tarea.fecha_de_creacion}}</td>
                    <td>{{tarea.fecha_de_entrega}}</td>
                    <td>{{tarea.descripcion}}</td>
                    <td>{{tarea.puntaje}}</td->
                    <td><a href="{{url_for('cursos_tareas_calificaciones_edit', id_curso=curso.id, id_tarea=tarea.id)}}" class="btn btn-primary">Editar calificaciones</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}