{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">{{curso.name}}</h1>
    <div class="contain">
        <form style="display: flex; 
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;" action="{{url_for('cursos_tareas_calificaciones_update', id_curso=curso.id, id_tarea=tarea.id)}}" method="post">
            {% for alumno in alumnos %}
            <div class="row">
                <label class="column" for="{{alumno.id}}">{{alumno.email}}</label>
                <input class="column" type="text" name="{{alumno.id}}" id="{{alumno.id}}" value="{% if calificaciones[alumno.id] %}{{ calificaciones[alumno.id] }}{% else %}0{% endif %}">
            </div>

            {% endfor %}
            <br>
            <input type="submit" value="Guardar Cambios">
        </form>
    </div>
    <a style="text-align: center;" href="{{url_for('cursos_tareas_index', id=curso.id)}}">Volver</a>
{% endblock %}